<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    
    {% if site.google_analytics and jekyll.environment == 'production' %}
    {% include analytics.html %}
    {% endif %}

  </body>

</html>
